/* ------------------------- */
/* -------Leaf Sizing------- */
/* ------------------------- */

div#leaf-3 { 
	width:250px;
	height:87px;
	min-height:87px; }

div#leaf-4 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-10 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-11 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-12 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-13 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-14 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-15 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-16 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-19 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-22 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-23 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-24 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-25 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-26 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-27 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-28 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-29 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-30 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-31 { 
	width:502px;
	height:125px;
	min-height:125px; }

div#leaf-32 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-33 { 
	width:179px;
	height:125px;
	min-height:125px; }

div#leaf-34 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-35 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-36 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-37 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-38 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-39 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-40 { 
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-45 { 
	width:735px;
	height:86px;
	min-height:86px; }

div#leaf-55 { 
	width:300px;
	height:1809px;
	min-height:1809px; }

div#leaf-60 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-61 { 
	width:321px;
	height:278px;
	min-height:278px; }

div#leaf-62 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-63 { 
	width:757px;
	height:125px;
	min-height:125px; }

div#leaf-67 { 
	width:1014px;
	height:20px;
	min-height:20px; }

div#leaf-68 { 
	width:1004px;
	height:30px;
	min-height:30px; }

div#leaf-70 { 
	width:30px;
	height:7700px;
	min-height:7700px; }

div#leaf-72 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-73 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-74 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-76 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-77 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-82 { 
	width:132px;
	height:1450px;
	min-height:1450px; }

div#leaf-83 { 
	width:30px;
	height:7700px;
	min-height:7700px; }

div#leaf-86 { 
	width:5px;
	height:72px;
	min-height:72px; }

div#leaf-87 { 
	width:510px;
	height:7608px;
	min-height:7608px; }

div#leaf-100 { 
	width:710px;
	height:125px;
	min-height:125px; }

div#leaf-102 { 
	width:250px;
	height:125px;
	min-height:125px; }

div#leaf-103 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-104 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-105 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-106 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-110 { 
	width:250px;
	height:87px;
	min-height:87px; }

div#leaf-111 { 
	width:15px;
	height:72px;
	min-height:72px; }

div#leaf-112 { 
	width:725px;
	height:86px;
	min-height:86px; }

div#leaf-113 { 
	width:1014px;
	height:30px;
	min-height:30px; }

div#leaf-115 { 
	width:30px;
	height:4000px;
	min-height:4000px; }

div#leaf-116 { 
	width:300px;
	height:1809px;
	min-height:1809px; }

div#leaf-118 { 
	width:640px;
	height:2000px;
	min-height:2000px; }

div#leaf-119 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-120 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-121 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-122 { 
	width:12px;
	height:125px;
	min-height:125px; }

div#leaf-123 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-124 { 
	width:684px;
	height:2000px;
	min-height:2000px; }

div#leaf-125 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-126 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-127 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-128 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-129 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-130 { 
	width:1014px;
	height:125px;
	min-height:125px; }

div#leaf-131 { 
	width:1014px;
	height:125px;
	min-height:125px; }


div#wrapper div#column-1-page-index { width: 1004px; }
div#wrapper div#column-1-page-single { width: 684px; }
div#wrapper div#column-2-page-single { width: 300px; }
div#wrapper div#column-1-page-archives { width: 321.33333333333px; }
div#wrapper div#column-2-page-archives { width: 321.33333333333px; }
div#wrapper div#column-3-page-archives { width: 321.33333333334px; }
div#wrapper div#column-1-page-tag { width: 321.33333333333px; }
div#wrapper div#column-2-page-tag { width: 321.33333333333px; }
div#wrapper div#column-3-page-tag { width: 321.33333333334px; }
div#wrapper div#column-1-page-author { width: 684px; }
div#wrapper div#column-2-page-author { width: 300px; }
div#wrapper div#column-1-page-search { width: 684px; }
div#wrapper div#column-2-page-search { width: 300px; }
div#wrapper div#column-1-page-four04 { width: 321.33333333333px; }
div#wrapper div#column-2-page-four04 { width: 321.33333333333px; }
div#wrapper div#column-3-page-four04 { width: 321.33333333334px; }
div#wrapper div#column-1-page-23 { width: 321.33333333333px; }
div#wrapper div#column-2-page-23 { width: 321.33333333333px; }
div#wrapper div#column-3-page-23 { width: 321.33333333334px; }
div#wrapper div#column-1-page-22 { width: 321.33333333333px; }
div#wrapper div#column-2-page-22 { width: 321.33333333333px; }
div#wrapper div#column-3-page-22 { width: 321.33333333334px; }
div#wrapper div#column-1-page-2 { width: 321.33333333333px; }
div#wrapper div#column-2-page-2 { width: 321.33333333333px; }
div#wrapper div#column-3-page-2 { width: 321.33333333334px; }
div#wrapper div#column-1-page-43 { width: 1004px; }
div#wrapper div#column-1-page-category { width: 1004px; }