ol.commentlist {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	border-bottom: 0 solid; }
  
	ol.commentlist li {
		border: 0 solid;
		list-style: none;
		padding: 10px;
		margin: 0; }
 
		ol.commentlist li ul.children {
			border-top: 0 solid;
			margin: 10px -10px 0 10px; }
  
img.avatar {
	float: right;
	margin: 0 0 2px 5px;
	padding: 1px;
	border: 1px solid #eee; }
 
span.comment-author { font-size: 12px; }
  
span.heading {
	clear: both;
	display: block;
	margin-top: 15px; }
 
p.nocomments {
	font-size: 14px;
	margin: 0;
	padding: 5px 0;
	clear: both; }
 
.comment-info-box {
	background: #f9f9f9;
	border: 1px solid #ddd;
	padding: 7px;
	width: 70%; }
 
.comment-body { line-height: 150%; }
 
div.comments-navigation {
	margin: 15px 0;
	float: left; }
 
div#trackback-box { 
	float: left;
	margin-bottom: 20px; }
 
	div#trackback-box span#trackback {
		margin: 0;
		font-size: 12px;
		float: left; }
 
	div#trackback-box span#trackback-url {
		margin: 5px 0 0;
		clear: left;
		font-size: 10px;
		float: left; }
 
ol.commentlist div#respond {
	margin: 10px -10px 0 15px;
	border: 1px solid #ddd;
	border-width: 1px 0;
	padding: 10px 0 0; }
 
div#respond label {
	font-size: 12px;
	color: #555; }